 body {
background-color: #5e6b69;
  }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #ccc;
    margin: .5em 0;
    padding: 0;
}
 
 .name {
  text-align: center
}

.column {
  display: block;
  width: 33.35%;
  padding: 5px;
}

  h1 {
    font-family:'Cardo', serif;
    font-size: 50px;
    margin: auto;
    display: inline-block;
    padding: 0px;
    font-kerning: 2px
}


p {
  font-family:'Karla', sans-serif;
    margin:10px auto;
    
 }

img {
  width: 100%;
  height: auto;
}


.row1 {
  column-count: 3;
  padding: 30px;
  display: flex;
}

h2 {
 font-family:'Cardo', serif;
    font-size: 20px;
    font-style: bold

}

a {
  text-decoration: none;
  color: #ccc;
}

ul {
  font-family:'Karla', sans-serif;
  margin: 10px auto
}


.footertext {
  font-family:'Karla', sans-serif;
  color: #ccc;
  padding: 30px;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353131; 
    color: #ccc;
    text-align: left;
    height: 50px
}





