 body {
background-color: #FFFFFF
  }


/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFEBCD;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #3e3b3b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6b6565;
  color: white;
}














 
 .name {
  text-align: center
}

.column {
  display: block;
  width: 33.35%;
  padding: 5px;
}

  h1 {
    font-family:'Cardo', serif;
    font-size: 50px;
    margin: auto;
    display: inline-block;
    padding: 0px;
    font-kerning: 10px
}


p {
  font-family:'Karla', sans-serif;
    margin:10px auto;

 }

img {
  width: 100%;
  height: auto;
}


.row1 {
  column-count: 3;
  padding: 30px;
  display: flex;
}

h2 {
 font-family:'Cardo', serif;
    font-size: 20px;
    }
a {
  text-decoration: none;
  color: #ccc;
}

a:link {
    background-color: none;
}

a:visited {
    background-color: none;
}

a:hover {
    color: #4eb1ac;
}

ul {
  font-family:'Karla', sans-serif;
  margin: 10px auto
}


.footertext {
  font-family:'Karla', sans-serif;
  color: #ccc;
  padding: 30px;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353131; 
    color: #ccc;
    text-align: left;
    height: 50px
}





